@charset "UTF-8";
    *{ 
        height: 100%;
    }
        body{
           background-image:linear-gradient(to right ,#DC80DC, #372937, #ce1ace )
        
        }
        
        h1{
            color: chocolate;
        }
        h2{
            color: green;
        }
   
        
        